[submodule "inertiallabs-ros2-pkgs"]
	path = inertiallabs-ros2-pkgs
	url = https://github.com/dartmouthrobotics/inertiallabs-ros2-pkgs.git
[submodule "catabot_bringup"]
	path = catabot_bringup
	url = https://github.com/dartmouthrobotics/catabot_bringup.git
	branch = catabot-4-ros2
[submodule "ouster-ros"]
	path = ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
[submodule "zed-ros2-wrapper"]
	path = zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper
